<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="Biubo WAF"
    Language="1033"
    Version="!(bind.FileVersion.biubo_waf_exe)"
    Manufacturer="mc-yzy15"
    UpgradeCode="8B6C2E1A-3F7D-4E9B-A2C1-5D6F8A9B0C1D">

    <Package
      InstallerVersion="200"
      Compressed="yes"
      InstallScope="perMachine"
      Manufacturer="mc-yzy15"
      Description="Biubo WAF Installer"
      InstallPrivileges="elevated" />

    <MajorUpgrade
      DowngradeErrorMessage="A newer version of Biubo WAF is already installed." />

    <MediaTemplate EmbedCab="yes" />

    <Icon Id="icon.ico" SourceFile="assets\icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Property Id="ARPHELPLINK" Value="https://github.com/mc-yzy15/Biubo-rust" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/mc-yzy15/Biubo-rust" />

    <Feature Id="ProductFeature" Title="BiuboWAF" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="DataDirectory" />
    </Feature>

    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="BiuboWAF">
          <Component Id="BiuboWAFService" Guid="A1B2C3D4-E5F6-7890-ABCD-EF1234567890">
            <File
              Id="biubo_waf_exe"
              Name="biubo-waf.exe"
              Source="target\release\biubo-waf.exe"
              KeyPath="yes" />
            <ServiceInstall
              Id="ServiceInstaller"
              Type="ownProcess"
              Vital="yes"
              Name="BiuboWAF"
              DisplayName="Biubo WAF"
              Description="Biubo Web Application Firewall Service"
              Start="auto"
              Account="LocalSystem"
              ErrorControl="normal"
              Interactive="no" />
            <ServiceControl
              Id="ServiceControl"
              Name="BiuboWAF"
              Start="install"
              Stop="both"
              Remove="uninstall"
              Wait="yes" />
          </Component>

          <Component Id="ConfigFile" Guid="B2C3D4E5-F6A7-8901-BCDE-F12345678901">
            <File
              Id="config_json"
              Name="config.json"
              Source="config.json"
              KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="BiuboWAFProgramMenu" Name="Biubo WAF">
          <Component Id="BiuboWAFStartMenuShortcut" Guid="C3D4E5F6-A7B8-9012-CDEF-123456789012">
            <Shortcut
              Id="BiuboWAFShortcut"
              Name="Biubo WAF"
              Description="Biubo Web Application Firewall"
              Target="[INSTALLFOLDER]biubo-waf.exe"
              WorkingDirectory="INSTALLFOLDER" />
            <RemoveFolder Id="RemoveBiuboWAFProgramMenu" Directory="BiuboWAFProgramMenu" On="uninstall" />
            <RegistryValue
              Root="HKCU"
              Key="Software\BiuboWAF"
              Name="installed"
              Type="integer"
              Value="1"
              KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder">
        <Component Id="BiuboWAFDesktopShortcut" Guid="D4E5F6A7-B8C9-0123-DEFA-234567890123">
          <Condition>INSTALLDESKTOPSHORTCUT</Condition>
          <Shortcut
            Id="BiuboWAFDesktopShortcut"
            Name="Biubo WAF"
            Description="Biubo Web Application Firewall"
            Target="[INSTALLFOLDER]biubo-waf.exe"
            WorkingDirectory="INSTALLFOLDER" />
          <RegistryValue
            Root="HKCU"
            Key="Software\BiuboWAF"
            Name="desktopshortcut"
            Type="integer"
            Value="1"
            KeyPath="yes" />
        </Component>
      </Directory>

      <Directory Id="CommonAppDataFolder">
        <Directory Id="BiuboWAFData" Name="BiuboWAF">
          <Component Id="DataDirectory" Guid="E5F6A7B8-C9D0-1234-EFAB-345678901234">
            <CreateFolder />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Property Id="INSTALLDESKTOPSHORTCUT" Value="1" />
  </Product>
</Wix>
